* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background: linear-gradient(225deg, #4facfe, #d04b4b);
    width: 360px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

#logo {
    width: 90px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#title {
    margin-bottom: 5px;
}

#hint {
    font-size: 12px;
    color: rgb(72, 68, 68);
    margin-bottom: 15px;
}

.roles {
    display: flex;
    gap: 6px;
    margin-bottom: 15px;
    background-color: #d6d2d2;
    padding: 6px;
    border-radius: 6px;
}

.roles button {
    flex: 1;
    padding: 8px;
    border: none;
    background: #eee;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgba(171, 134, 134, 0.1);
}

.roles button:hover {
    background: #471f98;
    color: white;
}

label {
    float: left;
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #4facfe;
}

.actions {
    display: flex;
    gap: 2px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}

#resetBtn {
    flex: 1;
    background: #471f98;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

#loginBtn {
    flex: 1;
    background: #471f98;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.pass{
    background-color: white;
    padding: 4px;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

p{
    font-size: 14px;
    margin-top: 15px;
}

#btnDoctor{
    background: #471f98;
    color: white;
}