* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

#header {
  background-color: #1f2937;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  opacity: 0.9;
  color: white;
}

.nav {
  padding: 10px;
  text-align: left;
  background-color: white;
}

.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
  color: rgb(123, 123, 123);
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  margin-bottom: 15px;
  color: #1e293b;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card .text {
  margin-bottom: 15px;
}

.card.special {
  background-color: #ffffff;
}

.card.special h3 {
  color: black;
}
.card.special p {
  color: rgb(0, 89, 255);
  font-weight: bolder;
}

.btn {
  text-decoration: none;
  padding: 13px 15px;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

caption {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  color: black;
}

thead {
  background-color: #dfdfdf;
  color: white;
}

form {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #16a34a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #15803d;
}

.footer {
  color: black;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
